<div class="header">
	<h1>Static {{title}} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, pariatur.</h1>
	<a href="/">Home</a>
	<a href="/about">About</a>
	<a href="/weather">Weather</a>
</div>